.errorPage{
  background-color:white;
  text-align: center; 
  padding-top: 150px;
}

.err{
  color:deepskyblue;
  font-size: 40px;
font-family: 'Libre Baskerville', serif;
}
 
.read{
  color: #040c2c;
  font-size: 20px;
  font-family: sans-serif;
}

#blink{
  position: relative;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
}

@keyframes blink{
    0%,100%{
      color:midnightblue;
    }
    40%{
      color:navy;
    }
    60%{
      color:darkblue;
    }
    80%{
      color:#040c2c;
    }
}
.errorButton{
  font-size: 16px;
   color: black;
}
.btn{
	padding:10px 20px;
	color:black;
	text-decoration: none;
	border:1px solid transparent;

}
.btn:hover{
	background-color:deepskyblue;
	color:#161B21;
}